
name: Cortex CLI Code Scan using CLI Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  CORTEX_API_KEY: ${{secrets.CORTEX_API_KEY}}
  CORTEX_API_KEY_ID: ${{secrets.CORTEX_API_KEY_ID}}
  CORTEX_API_BASE_URL: ${{ vars.CORTEX_API_BASE_URL }}
  TOKEN: ${{ secrets.TOKEN }}
  
jobs:
  cortex-code-scan-using-image:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
      
    - name: Pull image and run code scan
      run: |
        IMAGE_NAME="${{ vars.IMAGE_DIST }}.traps.paloaltonetworks.com/cli-docker/${TOKEN}/method:amd64-latest"

        docker pull ${IMAGE_NAME}
        
        docker run --rm \
          --volume "${{ github.workspace }}:/workspace" \
          --env CORTEX_API_BASE_URL="${CORTEX_API_BASE_URL}" \
          --env CORTEX_API_KEY="${CORTEX_API_KEY}" \
          --env CORTEX_API_KEY_ID="${CORTEX_API_KEY_ID}" \
          "$IMAGE_NAME" \
          code scan \
          --directory "/workspace" \
          --repo-id "${{ github.repository }}-from-image" \
          --branch "${{ github.ref_name }}-from-image" \
          --source "GITHUB_ACTIONS" \
          --create-repo-if-missing
